h1{
  color: #384;
}

p{
  color: #593;
}

img {
  width: 200px;
}

body {
    background-color: lightblue;
}

p{
  font-family: "Arial"
}

p {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 20px;
}

h1{
  text-align: center;
}

.main-header{
  background: dimgray;
  width: 130%;
  padding: 20px;
  
}

.main-nav li {
  list-style-type: none;
  display:inline;
  text-align: justify;
  margin-left: 10%;
  font-size: 18pt;
  font-family: Arial;
  background: FloralWhite;
  padding:10px;
}

.main-nav a{
  color:black;
  text-decoration:none;
}
